@tailwind base;
@tailwind components;
@tailwind utilities;

details summary{
    list-style: none;
    list-style-type: none;
}

@layer base {
    html {
        font-family: url('/src/assets/style/font/LeagueSpartan.otf');
    }
}